@import '~/styles/variable.scss';
@import '~/styles/function.scss';
@import '~/styles/theme.scss';
@import '~/styles/loader.scss';
@import '~/styles/transition.scss';

@import '~/styles/component.scss';
