$primary-light: #6750a4;
$on-primary-light: #ffffff;
$primary-container-light: #eaddff;
$on-primary-container-light: #21005d;
$secondary-light: #625b71;
$on-secondary-light: #ffffff;
$secondary-container-light: #e8def8;
$on-secondary-container-light: #1d192b;
$tertiary-light: #7d5260;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #ffd8e4;
$on-tertiary-container-light: #31111d;
$error-light: #b3261e;
$on-error-light: #ffffff;
$error-container-light: #f9dedc;
$on-error-container-light: #410e0b;
$outline-light: #79747e;
$background-light: #fffbfe;
$on-background-light: #1c1b1f;
$surface-light: #fffbfe;
$on-surface-light: #1c1b1f;
$surface-variant-light: #e7e0ec;
$on-surface-variant-light: #49454f;
$inverse-surface-light: #313033;
$inverse-on-surface-light: #f4eff4;
$inverse-primary-light: #d0bcff;
$shadow-light: #000000;
$surface-tint-light: #6750a4;
$outline-variant-light: #cac4d0;
$scrim-light: #000000;
$primary-dark: #d0bcff;
$on-primary-dark: #381e72;
$primary-container-dark: #4f378b;
$on-primary-container-dark: #eaddff;
$secondary-dark: #ccc2dc;
$on-secondary-dark: #332d41;
$secondary-container-dark: #4a4458;
$on-secondary-container-dark: #e8def8;
$tertiary-dark: #efb8c8;
$on-tertiary-dark: #492532;
$tertiary-container-dark: #633b48;
$on-tertiary-container-dark: #ffd8e4;
$error-dark: #f2b8b5;
$on-error-dark: #601410;
$error-container-dark: #8c1d18;
$on-error-container-dark: #f9dedc;
$outline-dark: #938f99;
$background-dark: #1c1b1f;
$on-background-dark: #e6e1e5;
$surface-dark: #1c1b1f;
$on-surface-dark: #e6e1e5;
$surface-variant-dark: #49454f;
$on-surface-variant-dark: #cac4d0;
$inverse-surface-dark: #e6e1e5;
$inverse-on-surface-dark: #313033;
$inverse-primary-dark: #6750a4;
$shadow-dark: #000000;
$surface-tint-dark: #d0bcff;
$outline-variant-dark: #49454f;
$scrim-dark: #000000;
