@import '~/styles/variable.scss';
@import '~/styles/function.scss';
@import '~/styles/theme.scss';
@import '~/styles/loader.scss';

@import '~/components/button/button.scss';
@import '~/components/card/card.scss';
