html {
	--primary: var(--primary-light);
	--on-primary: var(--on-primary-light);
	--primary-container: var(--primary-container-light);
	--on-primary-container: var(--on-primary-container-light);

	--secondary: var(--secondary-light);
	--on-secondary: var(--on-secondary-light);
	--secondary-container: var(--secondary-container-light);
	--on-secondary-container: var(--on-secondary-container-light);

	--tertiary: var(--tertiary-light);
	--on-tertiary: var(--on-tertiary-light);
	--tertiary-container: var(--tertiary-container-light);
	--on-tertiary-container: var(--on-tertiary-container-light);

	--error: var(--error-light);
	--on-error: var(--on-error-light);
	--error-container: var(--error-container-light);
	--on-error-container: var(--on-error-container-light);

	--outline: var(--outline-light);

	--background: var(--background-light);
	--on-background: var(--on-background-light);

	--surface: var(--surface-light);
	--on-surface: var(--on-surface-light);
	--surface-variant: var(--surface-variant-light);
	--on-surface-variant: var(--on-surface-variant-light);

	--inverse-surface-variant: var(--inverse-surface-variant-light);
	--inverse-on-surface-variant: var(--inverse-on-surface-variant-light);

	--inverse-primary: var(--inverse-primary-light);

	--shadow: var(--shadow-light);

	--surface-tint: var(--surface-tint-light);

	--outline-variant: var(--outline-variant-light);

	--scrim: var(--scrim-light);
}

html.dark {
	--primary: var(--primary-dark);
	--on-primary: var(--on-primary-dark);
	--primary-container: var(--primary-container-dark);
	--on-primary-container: var(--on-primary-container-dark);

	--secondary: var(--secondary-dark);
	--on-secondary: var(--on-secondary-dark);
	--secondary-container: var(--secondary-container-dark);
	--on-secondary-container: var(--on-secondary-container-dark);

	--tertiary: var(--tertiary-dark);
	--on-tertiary: var(--on-tertiary-dark);
	--tertiary-container: var(--tertiary-container-dark);
	--on-tertiary-container: var(--on-tertiary-container-dark);

	--error: var(--error-dark);
	--on-error: var(--on-error-dark);
	--error-container: var(--error-container-dark);
	--on-error-container: var(--on-error-container-dark);

	--outline: var(--outline-dark);

	--background: var(--background-dark);
	--on-background: var(--on-background-dark);

	--surface: var(--surface-dark);
	--on-surface: var(--on-surface-dark);
	--surface-variant: var(--surface-variant-dark);
	--on-surface-variant: var(--on-surface-variant-dark);

	--inverse-surface-variant: var(--inverse-surface-variant-dark);
	--inverse-on-surface-variant: var(--inverse-on-surface-variant-dark);

	--inverse-primary: var(--inverse-primary-dark);

	--shadow: var(--shadow-dark);

	--surface-tint: var(--surface-tint-dark);

	--outline-variant: var(--outline-variant-dark);

	--scrim: var(--scrim-dark);
}
