.dialog {
	background: linear-gradient(
			0deg,
			rgba(var(--primary-rgb), 0.11),
			rgba(var(--primary-rgb), 0.11)
		),
		var(--surface);
	padding: 24px;
	border-radius: 28px;

	&__wrapper {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(var(--on-surface-rgb), 0.4);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 8px;
	}

	&__title {
		color: var(--on-surface);
		font-weight: 400;
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 16px;
	}

	&__content {
		color: var(--on-surface-variant);
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 24px;
	}

	&__actions {
		display: flex;
		justify-content: end;
		gap: 0 8px;
	}
}
