.menu {
	position: relative;

	&__item-wrapper {
		width: 200px;
		position: absolute;
		top: 44px;
		right: 0;
		margin: 0;
		padding: 0;
		list-style: none;
		border-radius: 4px;
		overflow: hidden;
		background: linear-gradient(
				0deg,
				rgba(var(--primary-rgb), 0.08),
				rgba(var(--primary-rgb), 0.08)
			),
			#fffbfe;
		color: var(--on-surface);
		box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
			0px 2px 6px 2px rgba(0, 0, 0, 0.15);
		z-index: 10;
	}
}
